.main {
  margin: auto;
  width: 90%;
  position: absolute;
  z-index: 2;
  left: 3%;
}
.main input,
button {
  width: 100%;
  border: 2px solid white;
  border-right: 0px;
  font-size: 18px;
  padding: 12px;
}
.main input:hover {
  opacity: 0.8;
}
.main button {
  width: 25%;
  background-color: #eee;
  color: black;
  transition: all 0.3s;
  float: right;
  border-left: 0px;
}
.main button:hover {
  opacity: 0.8;
}

.caja {
  background-color: white;
  font-size: small;
}

.abajo {
  position: absolute;

  width: 80%;
  height: 50px;
  z-index: 1;
  border-radius: 10px;
  bottom: 0vh;
  top: 78vh;
  left: 10%;
  background-color: #412a56;
  color: white;
  border-color: #412a56;
}

.infobtn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  bottom: 0vh;
  top: 24.5vh;
  left: 4%;
  border-color: #412a56;
  background-color: #412a56;
  color: white;
  text-align: center;
  padding: 5px;
}

.bola {
  border-radius: 50px;
  border: 1px solid #c4c4c4;
  width: 60px;
  padding: 5px;
}

.alertas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 35px;
}

.reporte {
  margin-top: 35px;
  width: 90%;
  height: 15rem;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  padding: 8px;
}

.report {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.titulo {
  margin-top: 35px;
}

.publicidad {
  margin-top: 150px;
}

.abajo {
  top: 82vh;
}

.search-container {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: center;
}
.search-container > input {
  width: 80%;
  min-width: 280px;
  max-width: 900px;
}

@media (min-width: 800px) {
  .search-container > input {
    width: 70%;
    font-size: 2rem;
    max-width: 900px;
  }
}
