@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

:root {
  --primary-color: #ffbd69;
  --secondary-color: #412a56;
  --white: #ffffff;
  --global-font: "Roboto", sans-serif;
  --secondary-font: "Leckerli One", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: var(--global-font);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font {
  font-family: var(--secondary-font);
}

.btn-back {
  background-color: var(--secondary-color);
  width: 100%;
  border-radius: 10px;
  color: white;
  border-color: #412a56;
  margin: 2rem 0rem;
}

.banner-pub {
  width: 100%;
  height: auto;
  max-height: 200px;
}

.report-container {
  padding: 1rem;
}

.i-map {
  text-decoration: none;
  color: white;
}
