.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  height: 6rem;
  width: 100%;
}

.header_img {
  height: 4rem;
  width: auto;
}

.header_options {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  align-self: center;
}

.header_options:hover {
  color: var(--primary-color);
  transition: all 1s;
}

.active {
  background-color: rgb(0, 0, 0);
  padding: 1.8rem;
}
